<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Project Staffing Planner - {{title}}</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        {{#each scripts}}
        <script src="/static/{{this}}"></script>
        {{/each}}
    </head>

    <body>
        <header class="site-header">
                <h1>Project Staffing Planner</h1>
                <h2>Jonathan Jones</h2>

                <nav class="navbar">
                        <ul class="navlist">
                            <li class="navitem navlink active"><a href="home">Home</a></li>
                            <li class="navitem navlink"><a href="add">Add</a></li>
                            <li class="navitem navlink"><a href="remove">Remove</a></li>
                            <li class="navitem navlink"><a href="update">Update</a></li>
                        </ul>
                    </nav>
        </header>
        <main class="site-content">
            
            <!--Project_Role/Month Table and Total Cost-->
            {{#each project_name}}
            <h3>{{name}}</h3>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Team</th>
                    <th>Role</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>January</th>
                    <th>February</th>
                    <th>March</th>
                    <th>April</th>
                    <th>May</th>
                    <th>June</th>
                    <th>July</th>
                    <th>August</th>
                    <th>September</th>
                    <th>October</th>
                    <th>November</th>
                    <th>December</th>
                    <th>Total Cost</th>
                </tr>
                {{#each project_role}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{team_name}}</td>
                    <td>{{role_name}}</td>
                    <td>{{company_name}}</td>
                    <td>{{location_name}}</td>
                    {{#each manpower}}
                    <td>{{mp}}</td>
                    {{/each}}
                    <td>${{total_cost}}</td>
                </tr>
                {{/each}}
            </table>
            {{/each}}
            
            {{{body}}}

        </main>
    </body>
</html>