<h3>Add Project</h3>
<form id="project_form" action="add/add_project" method="POST">
    Project Name: <br>
    <input type="text" name="name" id="project_name" required><br>
    <input type="submit" value="Add Project">
</form>

<h3>Add Team</h3>
<form id="team_form" action="add/add_team" method="POST">
    Team Name: <br>
    <input type="text" name="name" id="team_name" required><br>
    <input type="submit" value="Add Team">
</form>

<h3>Add Role</h3>
<form id="role_form" action="add/add_role" method="POST">
    Role Name: <br> 
    <input type="text" name="name" id="role_name" required><br>
    Salary ($/Month): <br>
    <input type="number" name="salary" id="salary" min="0" required><br>
    Link to companies (optional): <br>
    <select id="role_companies" name="company" class="companies" multiple> <!--These are added whenever the user adds one to the database-->
        {{#each company}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Add Role">
</form>

<h3>Add a Role-Company Relationship</h3>
<form id="role-company_form" action="add/add_role-company" method="POST">
    <span>Role (Choose one):</span><br>
    <select id="add_role-company_role_id" name="role" class="roles" required>
        {{#each role}}
        <option value="{{id}}">{{name}} [${{salary}}/month]</option>
        {{/each}}
    </select><br>
    <span>Company (Choose one):</span><br>
    <select id="add_role-company_company_id" name="company" class="companies" required>
        {{#each company}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Add Relation">
</form>

<h3>Add Location</h3>
<form id="location_form" action="add/add_location" method="POST">
    Location Name: <br>
    <input type="text" name="name" id="location_name" required><br>
    Link to companies (optional): <br>
    <select id="location_companies" name="company" class="companies" multiple> <!--These are added whenever the user adds one to the database-->
        {{#each company}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Add Location">
</form>

<h3>Add Company</h3>
<form id="company_form" action="add/add_company" method="POST">
    Company Name: <br>
    <input type="text" name="name" id="company_name" required><br>
    Location (Choose one or many [Use CTRL-Click to select]) (Automatically links location to company): <br>
    <select id="company_locations" name="location" class="locations" multiple required> <!--These are added whenever the user adds one to the database-->
        {{#each location}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Roles (Choose one or many [Use CTRL-Click to select]) (Automatically links role to company): <br>
    <select id="company_roles" name="role" class="companies" multiple required> <!--These are added whenever the user adds one to the database-->
        {{#each role}}
        <option value="{{id}}">{{name}} [${{salary}}/month]</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Add Company">
</form> 

<h3>Add a Company-Location Relationship</h3>
<form id="company-location_form" action="add/add_company-location" method="POST">
    <span>Company (Choose one):</span><br>
    <select id="add_company-location_company_id" name="company" class="companies"required>
        {{#each company}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <span>Location (Choose one):</span><br>
    <select id="add_company-location_location_id" name="location" class="locations"required>
        {{#each location}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Add Relation">
</form>

<h3>Add Project Role</h3>
<form id="project_role_form" action="add/add_project_role" method="POST">
    Select one of each from the following fields:<br><br>
    Project: <br>
    <select id="add_pr_project" name="project" class="projects" required> <!--These are added whenever the user adds one to the database-->
        {{#each project}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Team: <br>
    <select id="add_pr_team" name="team" class="teams" required> <!--These are added whenever the user adds one to the database-->
        {{#each team}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Role: <br>
    <select id="add_pr_role" name="role" class="roles" required> <!--These are added whenever the user adds one to the database-->
        {{#each role}}
        <option value="{{id}}">{{name}} [${{salary}}/month]</option>
        {{/each}}
    </select><br>
    Company: <br>
    <select id="add_pr_company" name="company" class="companies" required> <!--These are added whenever the user adds one to the database-->
        {{#each company}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Location: <br>
    <select id="add_pr_location" name="location" class="locations" required> <!--These are added whenever the user adds one to the database-->
        {{#each location}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <span>Set manpower for the year:</span><br>
    <table>
        <tr>
            <th>January</th>
            <th>February</th>
            <th>March</th>
            <th>April</th>
            <th>May</th>
            <th>June</th>
            <th>July</th>
            <th>August</th>
            <th>September</th>
            <th>October</th>
            <th>November</th>
            <th>December</th>
        </tr>
        <tr>
            <td><input type="number" name="January" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="February" value="0" step="0.01"  min="0"></td>
            <td><input type="number" name="March" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="April" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="May" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="June" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="July" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="August" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="September" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="October" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="November" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="December" value="0" step="0.01" min="0"></td>
        </tr>
    </table>
    <input type="submit" value="Add Project Role">
</form>