<h3>Change Project Name</h3>
<form id="project_form" action="update/update_project" method="POST">
    <span>Project (Choose one):</span><br>
    <select id="update_project" name="project" class="projects" required>
        {{#each project}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <span>New project name:</span><br>
    <input type="text" id="new_project_name" name="name" required><br>
    <input type="submit" value="Update Project">
</form>

<h3>Change Team Name</h3>
<form id="team_form" action="update/update_team" method="POST">
    <span>Team (Choose one):</span><br>
    <select id="update_team" name="team" class="teams" required>
        {{#each team}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <span>New team name:</span><br>
    <input type="text" id="new_team_name" name="name" required><br>
    <input type="submit" value="Update Team">
</form>

<h3>Change Role Name/Salary</h3>
<form id="role_form" action="update/update_role" method="POST">
    <span>Role (Choose one):</span><br>
    <select id="update_role" name="role" class="roles" required>
        {{#each role}}
        <option value="{{id}}">{{name}} [${{salary}}/month]</option>
        {{/each}}
    </select><br>
    <span>New role name:</span><br>
    <input type="text" id="new_role_name" name="name" required><br>
    <span>New salary:</span><br>
    <input type="number" id="new_role_salary" name="name" min="0" required><br>
    <input type="submit" value="Update Role">
</form>

<h3>Change Location Name</h3>
<form id="location_form" action="update/update_location" method="POST">
    <span>Location (Choose one):</span><br>
    <select id="update_location" name="location" class="locations" required>
        {{#each location}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <span>New location name:</span><br>
    <input type="text" id="new_location_name" name="name" required><br>
    <input type="submit" value="Update Location">
</form>

<h3>Change Company Name</h3>
<form id="company_form" action="update/update_company" method="POST">
    <span>Company (Choose one):</span><br>
    <select id="update_company" name="company" class="companies" required>
        {{#each company}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <span>New company name:</span><br>
    <input type="text" id="new_company_name" name="name" required><br>
    <input type="submit" value="Update Company">
</form>

<h3>Change Project Role Manpower</h3>
<form id="project_role_form" action="update/update_project_role" method="POST">
    <span>Project Role ID (Choose one):</span><br>
    <select id="update_pr" name="project_role" class="prids" required>
        {{#each project_role}}
        <option value="{{id}}">{{id}}</option>
        {{/each}}
    </select><br>
    <span>Update manpower for the year:</span><br>
    <table>
        <tr>
            <th>January</th>
            <th>February</th>
            <th>March</th>
            <th>April</th>
            <th>May</th>
            <th>June</th>
            <th>July</th>
            <th>August</th>
            <th>September</th>
            <th>October</th>
            <th>November</th>
            <th>December</th>
        </tr>
        <tr>
            <td><input type="number" name="January" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="February" value="0" step="0.01"  min="0"></td>
            <td><input type="number" name="March" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="April" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="May" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="June" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="July" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="August" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="September" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="October" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="November" value="0" step="0.01" min="0"></td>
            <td><input type="number" name="December" value="0" step="0.01" min="0"></td>
        </tr>
    </table>
    <input type="submit" value="Update Project Role">
</form>